* {
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}


div.contain_lift_div {
    width: 220px;
    height: auto;
}

div.contain_lift_div ul {
    padding: 0px;
    margin: 0px;
}

div.contain_lift_div li {
    width: 220px;
    height: 84px;
    background-color: red;
    float:left;
    display:block;
}


/*div.contain_lift_div li a{*/
    /*color:#aaa; padding:0 30px; line-height:40px; display:block;*/
/*}*/
/*div.contain_lift_div li a:hover{*/
    /*background:#333; color:blueviolet;*/
 /*}*/
/*div.contain_lift_div li a.on{*/
    /*background:#333; color:#fff;*/
/*}*/